@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700|Roboto:200,300&display=swap");

//colors

$color-light-red: #ff4e50;
$color-yellowish-orange: #ffa710;
$color-brownish-grey: #666666;
$color-darker-grey: #444444;
$color-cornflower: #667df3;
$color-very-light-grey: #f7f3f2;
$color-aqua: #19d4ca;
$color-white: #ffffff;
$color-very-light-pink: #e3e3e3;

//fonts
$font-montserrat: "Montserrat";
$font-roboto: "Roboto";

//screen sizes
$grid__bp-md: 768;
$grid__bp-sm: 576;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;

//columns
$grid__cols: 12;

$map-grid-props: (
  "": 0,
  "-sm": $grid__bp-sm,
  "-md": $grid__bp-md,
  "-lg": $grid__bp-lg,
  "-xl": $grid__bp-xl
);
body {
  margin: 0;
  .container-header {
    margin: auto;
  }
  .header-container {
    width: 100%;
    flex-wrap: wrap-reverse;

    .brand {
      width: 100%;
      font-family: $font-montserrat;
      font-weight: 700;
      color: $color-white;
      font-size: 1em;
      margin: 0;
    }

    .log-in {
      width: 100%;
      font-family: $font-montserrat;
      font-weight: 400;

      span {
        cursor: pointer;
        font-size: 0.75em;
        align-self: center;
        margin-right: 15px;
      }

      .btn {
        background: transparent;
        font-size: 0.75em;
        color: $color-white;
        border: none;
        border: 1px solid $color-white;
        border-radius: 15px;
        cursor: pointer;
        padding: 8px 18px 8px 18px;
      }
    }
  }
  .centered {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      margin: 0;
      font-size: 2.3em;
      font-family: $font-montserrat;
      font-weight: 700;
      color: $color-white;
    }
    .small-text {
      font-family: $font-montserrat;
      font-weight: 300;
      font-size: 1.0em;
      color: $color-white;
    }
    button {
      background: $color-light-red;
      color: $color-white;
      border: none;
      border: 1px solid $color-light-red;
      border-radius: 20px;
      border-color: $color-light-red;
      padding: 8px 15px;
      margin: 20px auto;
      width: fit-content;
      font-weight: 700;
      font-size: 0.9em;
    }
  }

  #step-container {
    button {
      background: $color-light-red;
      border-color: $color-light-red;
      color: white;
      border-radius: 20px;
      width: fit-content;
      font-weight: 200;
      margin: 15px;
    }
    .step-header {
      font-weight: 700;
      font-size: 1.25em;
      font-family: $font-montserrat;
      color: $color-white;
      margin: 0px 15px;
    }
    .step-desc {
      font-weight: 200;
      font-family: $font-montserrat;
      color: $color-white;
      margin: 15px;
      line-height: 15px;
      font-size: 0.75em;
    }
  }

  #partner-container {
    .partner-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .header-partner {
        font-size: 1em;
        color: $color-darker-grey;
        font-weight: 700;
        font-family: $font-montserrat;
        margin: 10px 15px;
      }
      .desc-partner {
        font-size: 1em;
        color: $color-darker-grey;
        font-weight: 300;
        font-family: $font-montserrat;
        text-align: center;
        margin: 0px 15px;
      }
    }
  }
  .btn-partners {
    background: transparent;
    color: $color-light-red;
    border-radius: 20px;
    border-color: $color-light-red;
    padding: 8px 35px;
    width: fit-content;
    font-weight: 700;
    display: flex;
    margin: auto;
    margin-top: 15px;
  }

  .holiday {
    .interest-text {
      font-size: 1em;
      font-family: $font-roboto;
      color: $color-darker-grey;
      font-weight: 200;
      text-align: center;
      margin-bottom: 15px;
    }

    .search {
      justify-content: center;

      .content-search {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 5px;
        .input {
          border: none;
          border: solid 1px $color-very-light-grey;
          border-radius: 2px;
          padding: 8px;
          width: 300px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 5px auto;
        }
        button {
          background: $color-light-red;
          color: $color-white;
          border: none;
          border: 1px solid $color-light-red;
          border-radius: 20px;
          border-color: $color-light-red;
          padding: 8px 15px;
          width: fit-content;
          font-weight: 700;
          margin: 5px auto;
        }
      }
    }
  }

  footer {
    .column-1 {
      color: $color-light-red;
      font-family: $font-montserrat;
      font-weight: 200;
      font-size: 1.5em;
      height: 100%;
      flex-grow: 1;
    }
    .column-2,
    .column-3 {
      color: $color-darker-grey;
      font-family: $font-montserrat;
      font-weight: 200;
      height: 100%;
      line-height: 25px;
      flex-grow: 1;
      width: 100%;
      .f-title {
        font-weight: 700;
      }
    }
    .column-4 {
      flex-grow: 1;
      width: 100%;
      align-items: flex-end;
      font-family: $font-montserrat;
      font-size: 0.625em;
      color: $color-brownish-grey;
      height: 100%;
      text-align: end;
    }
  }
}
.gradient {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.74), rgb(0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.74), rgb(0, 0, 0));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.74), rgb(0, 0, 0));
  mix-blend-mode: overlay;
}
.content-centered {
  justify-content: center;
}
.section-header {
  font-family: $font-montserrat;
  font-weight: 600;
  font-size: 1.375em;
  color: $color-darker-grey;
  text-align: center;
  width: 100%;
  margin: 2% auto;
}

.container {
  position: relative;
  text-align: center;
  color: $color-white;
}

.top {
  position: absolute;
  top: 10%;
}
.content-img {
  width: 100%;
}
.min-height {
  min-height: 300px;
}
.max-height {
  max-height: 100%;
}
.margin-auto {
  margin: auto;
}
.hero-sub-title {
  font-family: $font-roboto;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 24.5px;
  color: $color-white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $font-montserrat;
  color: $color-darker-grey;
  font-weight: 700;
  margin-top: 8%;
  margin-bottom: 3%;
  text-align: center;
}
.wrap {
  flex-wrap: wrap;
}

hr {
  width: 100%;
  height: 1px;
  margin: 40px 0px 20px 0px;
  background: $color-light-red;
  border-color: transparent;
}
.flex-grow {
  flex-grow: 1;
}
.max-width{
  max-width:100%;
}

@mixin create-mq($breakpoint) {
  @if ($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint) {
    @for $i from 1 through $grid-cols {
      &__col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i)) * 1%;
      }
    }
  }
}

.container {
  &--fluid {
    margin: 0;
    max-width: 100%;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @each $modifier, $breakpoint in $map-grid-props {
    @include create-col-classes($modifier, $grid__cols, $breakpoint);
  }
}

.container {
  box-sizing: border-box;

  @at-root {
    [class*="container__col-"] {
      &.higher {
        min-height: 60px;
      }
      width: 150px;
      min-height: 30px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
